<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.herts.jw17aca.cloudstorage.mapper.UserMapper">

	<select id="selectByEmail" parameterType="string" resultType="User">
		select * from user_ where email = #{email}
	</select>

	<select id="selectById" parameterType="int" resultType="User">
		select * from user_ where id = #{id}
	</select>

	<insert id="add" parameterType="User">
		insert into user_ (username, password, email)
		values (#{username}, #{password}, #{email})
	</insert>

	<delete id="delete" parameterType="int">
		delete from user_ where id = #{id}
	</delete>

	<update id="update" parameterType="User">
		update user_ set username = #{username}, email = #{email}, password = #{password}
		where id = #{id}
	</update>
</mapper>