<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.herts.jw17aca.cloudstorage.mapper.UserMapper">

	<select id="selectByEmail" parameterType="string" resultType="User">
		select * from user_ where email = #{email}
	</select>

	<select id="selectById" parameterType="long" resultType="User">
		select * from user_ where id = #{id}
	</select>

	<insert id="add" parameterType="User">
		insert into user_ (username, password, email)
		values (#{username}, #{password}, #{email})
	</insert>

	<delete id="delete" parameterType="long">
		delete from user_ where id = #{id}
	</delete>

	<update id="update" parameterType="User">
		update user_
		<set>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="password != null">
				password = #{password}
			</if>	  
		</set>
		where id = #{id}
	</update>

</mapper>